<nav class="navbar navbar-dark bg-dark navbar-toggleable-md">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">Weekend Project</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard" *ngIf="auth.isAuthenticated()">Dashboard</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>

</nav>
