<div class="container">

  <br />
  <h2>Login</h2><br />

  <form [formGroup]="loginForm">
    <div class="form-group">
      <label for="inputEmail">Email</label>
      <input type="email" class="form-control" title="email" name="email" id="inputEmail" formControlName="email" required />
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" title="password" name="password" id="inputPassword" formControlName="password" required />
    </div>

    <button type="button" (click)="onLoginClick()" class="btn btn-primary">Sign in</button>
    <button type="button" routerLink="/register" class="btn btn-default">Create account</button>
  </form>

</div>
