<div class="container">

  <br />
  <div class="card">
    <div class="card-body">
      <h4>Welcome {{ user.firstname }} {{ user.lastname }}</h4>
      <small>{{ user.email }}</small>
      <button type="button" (click)="onClickLogout()" class="btn btn-danger float-right">Logout</button>
    </div>
  </div>

  <agm-map [latitude]="lat" [longitude]="lng" [zoomControl]=false [mapDraggable]=false [disableDoubleClickZoom]=true [streetViewControl]=false>
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>

  <!-- List user activities -->

  <br /><br />
  <h3>My activities</h3><br />
  <div class="card-columns" *ngIf="user.activities.length > 0">
    <div class="card" *ngFor="let activity of user.activities">
      <img class="card-img-top" src="assets/images/{{activity.level.sport.image}}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">{{ activity.level.sport.name }} <span class="badge badge-dark float-right">{{ activity.level.name }}</span></p>
      </div>
    </div>
  </div>

  <div class="activity-no-data" *ngIf="user.activities == '' || user.activities.length == 0">You have no activity yet</div>


  <!-- Start new activity -->

  <br /><br />
  <h3>Start new activity</h3><br />

  <div class="card-columns">
    <div class="card" *ngFor="let sport of sports">
      <img class="card-img-top" src="assets/images/{{sport.image}}" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">{{ sport.name }}</h4>
        <p class="card-text">Select your level for this activity if you want to start it now.</p>
        <div class="levels" *ngFor="let level of sport.levels" (click)="onAddActivityClick(level.id)">
          <button type="button" class="btn btn-dark">{{ level.name }}</button>
        </div>
      </div>
    </div>
  </div>

</div>

