<div class="container">

  <br />
  <div class="card">
    <div class="card-body">
      <h2>Welcome {{ user.firstname }} {{ user.lastname }}</h2>
      <small>{{ user.email }}</small>
    </div>
  </div>
  <br />

  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="http://via.placeholder.com/250x150" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <br />
  <button type="button" (click)="onClickLogout()" class="btn btn-danger">Logout</button>

</div>

