.card {
}

.card.user {
  border-radius: .25em .25em 0 0;
}

.card .levels button {
  width: 100%;
  margin-bottom: 3px;
}

.activity-no-data {
  color: grey;
  text-align: center;
  font-size: 14px;
  padding: 20px 0;
}

agm-map {
  height: 300px;
}
