<div class="container">

  <br />
  <div class="card">
    <div class="card-body">
      <h4>Welcome {{ user.firstname }} {{ user.lastname }}</h4>
      <small>{{ user.email }}</small>
      <button type="button" (click)="onClickLogout()" class="btn btn-danger float-right">Logout</button>
    </div>
  </div>


  <!-- List user activities -->

  <br /><br />
  <h3>My activities</h3><br />

  <div class="card-columns" *ngIf="user.activities.size > 0">
    <div class="card" *ngFor="let activity of user.activities">
      <img class="card-img-top" src="http://via.placeholder.com/250x150" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">{{ activity.name }}</p>
      </div>
    </div>
  </div>

  <div class="activity-no-data" *ngIf="user.activities == '' || user.activities.size == 0">You have no activity yet</div>


  <!-- Start new activity -->

  <br /><br />
  <h3>Start new activity</h3><br />

  <div class="card-columns">
    <div class="card" *ngFor="let sport of sports">
      <img class="card-img-top" src="http://via.placeholder.com/250x150" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">{{ sport.name }}</h4>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        <li *ngFor="let level of sport.levels">
          {{ level.name }}
        </li>
      </div>
    </div>
  </div>

</div>

