<div class="container">

  <br />
  <h2>Create account</h2><br />

  <div *ngIf="registerError != null" class="alert alert-danger" role="alert">
    {{ registerError }}
  </div>

  <form [formGroup]="registerForm">
    <div class="form-group">
      <label for="inputFirstname">Firstname</label>
      <input type="text" title="firstname" class="form-control" name="firstname" id="inputFirstname" formControlName="firstname" required />
    </div>

    <div class="form-group">
      <label for="inputLastname">Lastname</label>
      <input type="text" title="lastname" class="form-control" name="lastname" id="inputLastname" formControlName="lastname" required />
    </div>

    <div class="form-group">
      <label for="inputEmail">Email</label>
      <input type="email" title="email" class="form-control" name="email" id="inputEmail" formControlName="email" required />
    </div>

    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" title="email" class="form-control" name="password" id="inputPassword" formControlName="password" required />
    </div>


    <div class="form-group">
      <label for="inputPassword">Please pin your address (right click to select)</label>
      <agm-map [latitude]="centerMapLat" [longitude]="centerMapLng" [zoom]="centerMapZoom" (mapRightClick)="onMapRightClick($event)">
        <agm-marker [latitude]="userLat" [longitude]="userLng"></agm-marker>
      </agm-map>
    </div>


    <button type="button" (click)="onRegisterClick()" class="btn btn-primary">Sign up</button>
    <button type="button" routerLink="/login" class="btn btn-default">Already have an account ?</button>
  </form>

</div>






